<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="Disponiveis" value="0"/>
        <add key="Total" value="61"/>
        <add key="Ocupadas" value="63"/>
      <add key="Turma" value="D"/>
      <add key="Disciplina" value="https://wwwsec.serverweb.unb.br/matriculaweb/graduacao/oferta_dados.aspx?cod=113051&amp;campus=1"/>
      <add key="Codigo" value="113051"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
